.game{
    padding: 20px;
    background-color: rgb(57, 45, 92);
    margin: 40px auto;
    width: fit-content;
    min-width: 300px;
    border-radius: 30px;
    animation: appear_from_top linear;
    animation-duration: 0.5s;
}
.goingBack{
    color: white;
}
.topSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    height: 60px;
}
.back{
    cursor: pointer;
}
.clock{
    width: 30px;
}
.timer{
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}
.middleSection{
    margin: 10px 0px;
    user-select: none;
}
.rows{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1px;
    gap: 1px;
}
.digit{
    width: 25px;
    height: 25px;
    background-color: rgb(110, 93, 93);
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.digit:hover{
    background-color: rgb(184, 152, 152);
}
.openSquare{
    background-color: rgb(128, 116, 192);
    animation: appear linear;
    animation-duration: 0.2s;
}


.downSection{
    
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.restart{
    background-color: rgb(53, 53, 219);
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 15px;
    cursor: pointer;
    color: white;
}

.lose{
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
    color: red;
    animation: appear_losing linear;
    animation-duration: 1s;
    animation-iteration-count: 3;
}

.win{
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 255, 0);
    animation: appear_winning linear;
    animation-duration: 1s;
    animation-iteration-count: 3;
}

.hint{
    background-color: rgb(53, 53, 219);
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 15px;
    cursor: pointer;
    color: white;
}

.usingHint{
    background-color: rgb(3, 3, 105)
}

.value-1{
    color: black;
    animation: appear linear;
    animation-duration: 0.2s;
}
.value1{
    color: darkred
}
.value2{
    color: darkorange
}
.value3{
    color: rgb(0, 255, 0);
}
.value4{
    color: rgb(14, 58, 179);
}
.value5{
    color: rgb(3, 44, 92);
}
.value6{
    color: rgb(241, 221, 41);
}
.value7{
    color: rgb(103, 5, 128);
}
.value8{
    color: rgb(197, 6, 6);
}
.losingSquare{
    background-color: yellow;
}
.losingSquare:hover{
    background-color: yellow;
}
.hidingMine{
    background-color: rgb(240, 136, 1);
    color: black;
    animation: appear linear;
    animation-duration: 0.2s;
}

@keyframes appear_from_top {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}
@keyframes appear{
    from {
        font-size: 1px;
    }

    to {
        font-size: 18px;
    }
}

@keyframes appear_losing{
    0% {
    }
    25%{
        rotate: 30deg;
    }
    50%{
        rotate: 0deg;
    }
    75%{
        rotate: -30deg;
    }
    100% {
        rotate: 0deg;
    }
}

@keyframes appear_winning{
    0% {
        color: rgb(0, 255, 0);
    }
    50% {
        color: green;
    }
    100%{
        color: rgb(0, 255, 0);
    }
}
